#infopage{
    width: 1320px;
    margin: auto;
    font-family: sans-serif;
}
.navbar {
    position: relative;
}
.navbar ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar li{
    position: relative;
}
.navbar li a{
    padding:20px;  
    text-decoration: none;
    padding-left: 0;
    position: relative;
}
.active-link{
    color:green;
}
.segment{
    display:none;
}
.segment[id="product_detail"]{
    display: block;
}
.nav-link{
    position: relative;
}
a:active,a:hover{
    color: green;
}
.active-link::after,.nav-link:hover::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: green;
    bottom: 5px;
    left: 0;
    transform-origin: right;
    transition: width 0.3s
}

.nav-link.active-link::after{
    transform: scaleX(1);
    transform-origin: left;
}
.active-line{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(199, 210, 199);
    bottom: -15px;
    left: 0;
}
.nav-link.active-link.active-line{
    background-color: green;
}
.table-container{
    float: left;
    width: 45%;
    margin: 2%;
}
.table-container table{
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    
}
.table-container tr,td{
    height:50px;
    border:0;
}
.table-container tr:nth-child(odd){
    background-color: rgb(220, 231, 241);
}
.table-container td{
    padding-left:5%;
}
#product_detail p{
    margin-top:5px;
    font-size:15px;
    color:rgb(32, 31, 31);
}

#product_detail h1,h2,h3,h4,h5,h6{
    margin: 0;
    color:rgb(32, 31, 31) ;
}
.clear{
    clear: both;
}

@media screen and (max-width: 740px) {
    #infopage {
        width: 100%;
        margin: 5px;
        font-family: sans-serif;
    }

    .navbar ul {
        justify-content: center;
    }

    .navbar li {
        margin: 0;
        text-align: center;
    }

    .navbar li a {
        padding: 10px;
    }

    .segment {
        width: 100%;
    }

    .active-line {
        bottom: -6px;
    }
    .table-container {
        float: none;
        width: 100%;
        margin: 2% 0;
    }

  
}

